@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* scrollbar */
::-webkit-scrollbar{
  display: none;
}
.main-content {
  margin-left: 200px; 
  padding: 20px;
  transition: margin-left 0.3s ease;
  color: white;
}
.wrapper, .home {
  background-color: #121212;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full height */
}

.main-content {
  flex: 1; /* Push footer to bottom */
  padding-bottom: 80px; /* Prevent table from being cut off */
}

table{
  color: white;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
}

.side-navbar-collapsed + .main-content {
  margin-left: 150px;
}

/* APP */
#app {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #f5f5f5;
  }

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #f5f5f5;
    transition: color 0.3s ease;
}

nav a.router-link-exact-active {
    color: #42b983;
}



.logged-in-user {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.user-profile {
  margin-right: 15px;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info h2 {
  margin: 0;
  font-size: 20px;
  color: #f5f5f5;
}

.user-info p {
  margin: 4px 0;
  font-size: 16px;
  color: #b0b0b0;
}

.products-table {
  margin: 20px 0;
  overflow-x: auto;
}

.products-table table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e1e1e;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.products-table th {
  padding: 12px;
  text-align: left;
  background-color: #242424;
  color: #f5f5f5;
  font-weight: bold;
  border-bottom: 2px solid #333;
}

.products-table td {
  padding: 12px;
  border-bottom: 1px solid #333;
  text-align: left;
  vertical-align: middle;
  color: #b0b0b0;
}

.products-table img {
  width: 40px;
  height: auto;
  border-radius: 8px;
}

.product-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
}

.no-products {
  text-align: center;
  font-weight: bold;
  color: #b0b0b0;
}

@media (max-width: 768px) {
  .admin {
    padding-left: 0;
  }
  .products-table table {
    min-width: 100%;
  }
}